<div class="navigation-wrapper">
	<div class="site-name" style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; margin-top: -.25em;">
		<a href="{{ site.url }}/"><span style="color: #006000;"><span style="font-size: 1.5em;">G</span>reen</span><span style="color: #418241;"><span
                style="font-size: 1.5em;">C</span>ape</span></a>
    </div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
    <!-- /.site-name -->
</div><!-- /.navigation-wrapper -->
